.chat__main__header
    .chat__main__header__group
        .chat__main__header__group__name
            test-group-name
        .chat__main__header__group__member
            test-member-name
    .chat__main__header__edit-btn
        edit