.chat__main__footer
    %input(type="text")
    %label.upload-label{for: "upload-icon"}
        %i.fa.fa-picture-o
    .chat__main__footer__form
        %label(for="image")
        %form(action="submit")
            %p Send