.chat__main__message
  .chat__main__message__box__top
    .chat__main__message__box__top__name
      test-messager-name
    .chat__main__message__box__top__time
      test-message-timestamp
  .chat__main__message__box__text
    test-message