.chat__side__bottom
    .chat__side__bottom__group-list
        .chat__side__bottom__group-list__name
            test-group-name
        .chat__side__bottom__group-list__message
            test-group-message